@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: "Metropolis", sans-serif;
  src: local("Metropolis"), url("/fonts/Metropolis-Medium.ttf") format("truetype");
}
.nav {
  white-space: nowrap;
  margin-right: 32px;
  background: #FFFFFF;
  border-radius: 16px;
  max-width: 304px;
  min-width: 300px;
  height: 424px;
}
.nav .nav_item {
  display: block;
}
@media (max-width: 1100px) {
  .nav {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .nav {
    width: 100%;
    margin: 0 0 20px 0;
    max-width: 784px;
    height: 100px;
    display: flex;
    align-items: center;
  }
  .nav section {
    display: flex;
    justify-content: space-between;
  }
  .nav h3 {
    display: none;
  }
}
.nav .active-link {
  font-weight: 700;
  background: url("icons/active-nav.svg") no-repeat;
}
@media (max-width: 1100px) {
  .nav .active-link {
    background: none;
  }
}
.nav h3 {
  font-family: "Metropolis", sans-serif;
  margin: 32px 0 15px 32px;
  font-size: 12px;
  color: #7B829A;
  text-transform: uppercase;
}
.nav a {
  color: #222B55;
  padding: 11px 0 11px 32px;
  font-size: 16px;
}
@media (max-width: 1100px) {
  .nav a {
    padding: 11px 20px;
  }
}
@media (max-width: 500px) {
  .nav a {
    padding: 10px;
  }
}

button {
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  height: 32px;
}

button:active {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);
}

.content hr {
  color: rgba(34, 43, 85, 0.08);
  margin: 40px 0;
}
.content .charge {
  color: #7B829A;
}
.content .charge span {
  color: #7B829A;
}
.content .card {
  color: #415DE8;
  margin-left: 22px;
}
.content-title {
  display: flex;
  justify-content: space-between;
  font-family: Metropolis, sans-serif;
  align-items: flex-end;
}
.content-title h2 {
  font-size: 36px;
}
.content-title span {
  color: #415DE8;
}
.content p {
  color: gray;
  font-size: 20px;
  margin: 8px 0 20px 0;
}
.content p span {
  font-size: 28px;
  font-family: "Metropolis", sans-serif;
  font-weight: 700;
}
.content .switch {
  display: flex;
}
.content .switch button {
  padding: 8px 0;
  margin-top: 20px;
  width: 165px;
  background: #415DE8;
}
.content .switch p {
  font-size: 14px;
  line-height: 20px;
  color: #222B55;
  margin: 26px 0 0 16px;
}
.content .switch p span {
  font-size: 14px;
  font-weight: 400;
}

.features .icon {
  color: #415DE8;
  cursor: pointer;
  font-size: 30px;
}
.features .icon-open {
  position: relative;
  left: 50%;
}
.features h2 {
  font-size: 20px;
  background: url("icons/features.svg") 210px no-repeat;
}
.features .feature {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background: #F5F8FF;
  padding: 20px 40px;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .features .feature {
    height: 210px;
  }
}
.features .feature .list h2 {
  font-size: 24px;
  color: #415DE8;
  background: none;
}
.features .feature .list ul {
  display: flex;
  flex-direction: column;
  height: 108px;
  justify-content: space-between;
  margin-top: 16px;
  list-style-image: url("icons/list.svg");
}
.features .feature .upgrade {
  text-align: end;
}
.features .feature .upgrade p {
  font-family: "Metropolis", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 16px;
}
.features .feature .upgrade p span {
  display: inline-block;
  width: 140px;
  font-size: 12px;
  font-weight: 400;
  color: #7B829A;
  margin-top: 8px;
}
.features .feature .upgrade button {
  background: #FF5762;
  width: 85px;
  margin-top: 25px;
}
.features .hidden {
  display: none;
}

.display-none {
  display: none;
}

.limits {
  margin-top: 32px;
  height: 254px;
}
@media (max-width: 1280px) {
  .limits {
    height: 400px;
  }
  .limits .limits_tabs {
    justify-content: center;
  }
}
.limits .limits_tabs {
  display: flex;
}
.limits .limits_tabs_item {
  font-size: 16px;
  text-align: center;
  min-width: 49px;
  margin: 0 44px 40px 0;
  padding-bottom: 16px;
  cursor: pointer;
  color: #7B829A;
  user-select: none;
}
.limits .limits_tabs_item.active-tab {
  background: url("icons/active-tab.svg") bottom no-repeat;
  font-weight: 700;
  color: #222B55;
}
.limits p {
  color: #7B829A;
  font-size: 14px;
  margin: 0 10px 56px 0;
}
.limits .tab {
  display: none;
}
.limits .tab progress {
  margin: 10px 0;
}
.limits .tab.active-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
@media (max-width: 1280px) {
  .limits .tab.active-tab {
    align-content: center;
    flex-direction: column;
  }
}
.limits .tab.active-tab span {
  color: #7B829A;
}
.limits .tab.active-tab h4 {
  font-weight: 400;
  font-size: 16px;
  color: #222B55;
}
.limits .tab.active-tab h4 span {
  float: right;
  color: #7B829A;
}
.limits .tab.active-tab progress {
  width: 312px;
  border-radius: 10px;
  border: none;
  background-color: #EBECF0;
  height: 10px;
}
.limits .tab.active-tab .full-progress ::-webkit-progress-bar {
  background-color: #FF5762;
  border-radius: 10px;
}
.limits .tab.active-tab .full-progress ::-moz-progress-bar {
  background-color: #FF5762;
  border-radius: 10px;
}
.limits .tab.active-tab ::-webkit-progress-bar {
  background-color: #415DE8;
  border-radius: 10px;
}
.limits .tab.active-tab ::-moz-progress-bar {
  border-radius: 10px;
  background-color: #415DE8;
}

* {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #222B55;
}

body {
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  user-select: none;
}

h2 {
  font-family: "Metropolis", sans-serif;
}

.app-container {
  padding: 47px 201px;
  display: flex;
}
@media (max-width: 1480px) {
  .app-container {
    padding: 47px 100px;
  }
}
@media (max-width: 1100px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .app-container {
    padding: 40px 15px;
  }
}
.app-container .main {
  width: 100%;
}
.app-container .main .container {
  min-height: 200px;
  padding: 40px 60px;
  background: #FFFFFF;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .app-container .main .container {
    padding: 40px 50px;
  }
}
.app-container .main .container .interactive_link {
  cursor: pointer;
  user-select: none;
}
.app-container .main .container .interactive_link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
