@import "styles/fonts";
@import "styles/basics-style";
@import "styles/nav-style";
@import "styles/content-style";
@import "styles/features-style";
@import "styles/limits-style";
@import "styles/tabs-styles";

* {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  color: $main-color;
}

body {
  background-color: $main-background;
}

a {
  text-decoration: none;
  user-select: none;
}

h2 {
  font-family: 'Metropolis', sans-serif;
}

button {
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  height: 32px;
}

button:active {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);
}

.app-container {
  padding: 47px 201px;
  display: flex;

  @media (max-width: $computer) {
    padding: 47px 100px;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $smart-phone) {
    padding: 40px 15px;
  }


  .main {
    width: 100%;

    .container {
      min-height: 200px;
      padding: 40px 60px;
      background: $white;
      border-radius: $basic-border-radius;

      @media (max-width: $smart-phone) {
        padding: 40px 50px;
      }

      .interactive_link {
        cursor: pointer;
        user-select: none;
      }

      .interactive_link:hover {
        text-decoration: underline;
      }
    }
  }
}

progress {
  width: 100%;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  background-color: $progress-bar-background;
  height: 10px;
}

::-webkit-progress-bar {
  background-color: $optional-blue;
  border-radius: 10px;
}

::-moz-progress-bar {
  border-radius: 10px;
  background-color: $optional-blue;
}

.full-progress {
  ::-webkit-progress-bar {
    background-color: $coral;
    border-radius: 10px;
  }

  ::-moz-progress-bar {
    background-color: $coral;
    border-radius: 10px;
  }
}
