$main-color: #222B55;
$optional-blue: #415DE8;
$blue-color: #7B829A;
$coral: #FF5762;
$gray: gray;
$white: #FFFFFF;
$progress-bar-background: #EBECF0;
$main-background: #E5E5E5;
$feature-background: #F5F8FF;

$basic-border-radius: 16px;
$computer: 1480px;
$optional-computer: 1280px;
$tablet: 1100px;
$smart-phone: 768px;
$phone: 500px;
