.toolbar {
  display: flex;
  justify-content: space-between;
  font-family: Metropolis, sans-serif;
  align-items: flex-end;

  h2 {
    font-size: 36px;
  }

  span {
    color: $optional-blue;
  }
}

.invoicing-top {
  hr {
    color: rgba(34, 43, 85, 0.08);
    margin: 40px 0;
  }

  .charge {
    color: $blue-color;

    span {
      color: $blue-color;
    }
  }

  .card {
    color: $optional-blue;
    margin-left: 22px;
  }

  p {
    color: $gray;
    font-size: 20px;
    margin: 8px 0 20px 0;

    span {
      font-size: 28px;
      font-family: 'Metropolis', sans-serif;
      font-weight: 700;
    }
  }

  .switch {
    display: flex;

    button {
      padding: 8px 0;
      margin-top: 20px;
      width: 165px;
      background: $optional-blue;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: $main-color;
      margin: 26px 0 0 16px;

      span {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
