.limits {
  margin-top: 32px;
  height: 254px;

  @media (max-width: $optional-computer) {
    height: 400px;

    .tabs {
      justify-content: center;
    }
  }

  p {
    color: $blue-color;
    font-size: 14px;
  }
}